<template lang="pug">
    md-card.item.card
        md-card-header
            div.md-title Note
        md-card-content
            div(@click="openFolder('note')").hoverable
                span.note-display {{ note }}
                md-dialog(v-bind:ref="'note'" @open="onOpen('note')" @close="onClose('note')")
                    md-dialog-title Info
                    md-dialog-content.text-area-card
                        md-input-container
                            md-textarea( v-model="note_model" placeholder="Slap down a qick note here bruh" maxlength="2048" )

                    md-dialog-actions
                        md-button(class="md-primary" @click.native="closeFolder('note')") Close
        md-card-actions
            md-button(@click="openFolder('note')")
                | Edit note
</template>

<script>
export default {
    name: 'NoteCard',
    mounted: function () {},
    data () {
        return {
            note_model: this.$store.state.data.note
        }
    },
    computed: {
        note () {
            return this.$store.state.data.note;
        }
    },
    methods: {
        update_data (data, state) {
            this.$store.dispatch('update_data', { data, state });
        },
        openFolder (ref) {
            this.$refs[ref].open();
        },
        closeFolder (ref) {
            this.$refs[ref].close();
        },
        onOpen () {
            this.isOpen = true;
            document.body.style.overflow = 'hidden';
        },
        onClose () {
            this.isOpen = false;
            document.body.style.overflow = 'auto';
            console.log(this.note_model);
            this.update_data('note', this.note_model)
        }
    }
}
</script>

<style lang="sass">
    .hoverable:hover
        cursor: pointer

    .note-display
        word-wrap: break-word
        
    @media (min-width: 600px)
        .text-area-card
            width: 400px

    @media (min-width: 800px)
        .text-area-card
            width: 600px
</style>
