<template lang="pug">
    section.md-card.bookMarkFolder
        md-dialog-title {{ LinkHelper.trimTitle(this.currentTitle, 40) }}
        md-dialog-content.folderList
            md-list
                md-list-item(v-if="parentBookmarks.length !== 0" href="#" @click.native="traverseUp()").unJustify
                    md-icon.unIndent.backIcon keyboard_return
                    span.backTitle Back
                template(v-for="(child, index) in currentBookmarks")
                    md-list-item(v-if="LinkHelper.determineType(child) === 'Folder'" href="#" @click.native="traverseDown(child)" :key="'chld' + index").unJustify
                        md-icon.unIndent folder
                        span.itemTitle {{ LinkHelper.trimTitle(child.title, 60) }}
                    md-list-item(v-if="LinkHelper.determineType(child) === 'Link'" v-bind:href="child.url" :key="'chld' + index").unJustify
                        img(v-bind:src="'chrome://favicon/' + child.url")
                        span.itemTitle {{ LinkHelper.createLinkTitle(child, 60) }}
</template>

<script>
import LinkHelper from '../../util/LinkHelper.js';

export default {
    name: 'BookmarkFolder',
    mounted: function () {
        // TODO DELAY LOADING OF THIS SLOW PIECE OF SHIT
    },
    data () {
        return {
            LinkHelper,
            parentBookmarks: [],
            parentTitle: [],
            currentBookmarks: this.folderBookmark.children,
            currentTitle: this.folderBookmark.title
        }
    },
    props: [
        'folderBookmark',
        'isOpen'
    ],
    methods: {
        traverseDown(child) {
            this.parentBookmarks = this.parentBookmarks.concat([this.currentBookmarks]);
            this.parentTitle = this.parentTitle.concat([this.currentTitle]);

            this.currentBookmarks = {};

            setTimeout( () => {
                this.currentBookmarks = child.children;
                this.currentTitle = child.title;
            }, 10);
        },
        traverseUp() {
            this.currentBookmarks = this.parentBookmarks[this.parentBookmarks.length - 1];
            this.currentTitle = this.parentTitle[this.parentTitle.length - 1];
            this.parentBookmarks = this.parentBookmarks.slice(0, -1);
            this.parentTitle = this.parentTitle.slice(0, -1);
        },
        reset(){
            this.parentBookmarks = [];
            this.parentTitle = [];
            this.currentBookmarks = this.folderBookmark.children;
            this.currentTitle = this.folderBookmark.title;
        }
    }
}
</script>

<style lang="sass">
    button.md-button
        font-size: 1em !important
        text-transform: none !important
        font-weight: 500 !important
        vertical-align: middle
        & img, .md-icon
            margin-right: 5px

    .bookMarkFolder
        width: 600px
        max-width: 600px
        box-shadow: none !important

    .folderList
        width: 580px
        background: none !important

    .itemTitle
        margin-left: 10px
        font-weight: 400

    .backTitle
        margin-left: 10px
        font-weight: 500

    .unIndent
        margin-right: 0 !important
    .unJustify a
        justify-content: left !important
</style>
